header {
    top: 0;
    width: 100%;
    height:10%;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}


.navbar-brand img {
    max-height: 100px; /* Ajusta la altura del logo según sea necesario */
}

.navbar-nav .nav-link {
    color: #fff; /* Cambia el color del texto del enlace según tu preferencia */
    margin-right: 20px; /* Ajusta el espacio entre los enlaces */
}

/* Estilos para el título de la página */
.full-width-title {
    background-color: #258543; /* Mismo color de fondo que el encabezado */
    color: #fff; /* Cambia el color del texto según tu preferencia */
    padding: 20px 0; /* Ajusta el espacio interno según sea necesario */
    text-align: center; /* Centra el texto */
}

/* Estilos para el contenido de la noticia */
.container {
    margin-top: 50px; /* Ajusta el espacio superior según sea necesario */
}

#newsSubtitle {
    color: #0f4c81; /* Cambia el color del subtítulo según tu preferencia */
}

#newsDate {
    margin-top: 20px; /* Ajusta el espacio superior según sea necesario */
}

.image-container {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap; /* Evita que la imagen se divida en líneas */
}

/* Estilos para la imagen */
#newsImage {
    max-width: 100%; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    cursor: zoom-in; /* Cambia el cursor al hacer hover sobre la imagen */
}

/* Estilos para la imagen cuando está en modo de zoom */
#newsImage.zoomed {
    cursor: zoom-out; /* Cambia el cursor cuando la imagen está en modo de zoom */
}

/* Efecto de zoom al pasar el mouse sobre la imagen */
.carousel-item img:hover {
    transform: scale(1.1); /* Aumenta la escala de la imagen al 110% */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave al pasar el mouse sobre la tarjeta */
}

/* Estilos para las imágenes del carrusel */
.carousel-item img {
    max-width: 720px; /* Ancho máximo de 720px */
    height: auto; /* Altura automática para mantener la proporción */
    margin: auto; /* Centrar la imagen horizontalmente */
}


/* Estilos para el carrusel */
#carouselExampleIndicators {
    margin: 100px; /* Alinear el carrusel horizontalmente */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Cambiar el color de las flechas a negro */
}
.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%); /* Invertir el color de las flechas para que se vean claras sobre fondo oscuro */
}
/* Estilos para el footer */
footer {
    position: relative; /* Establece una posición relativa */
    width: 100%; /* Establece el ancho del footer para que ocupe toda la pantalla */
    background-color: #258543; /* Color de fondo del footer */
    color: #ffffff; /* Color del texto en el footer */
    text-align: center; /* Alineación del texto en el centro */
    margin-top: 50px; /* Agrega un margen superior para separar el footer del contenido anterior */
}

/* Estilos para las imágenes en el footer */
footer img {
    width: 150px; /* Ancho fijo para las imágenes */
    height: 150px; /* Alto fijo para las imágenes */
    margin: 10px; /* Espaciado entre las imágenes */
}
/* Estilos para la sección de información del clima */
.weather-info {
    margin-left: auto; /* Alinear a la derecha */
    margin-right: 20px; /* Margen derecho para separación */
    display: flex; /* Utilizar flexbox */
    flex-direction: column; /* Establecer la dirección de los elementos como columna */
    border: 2px solid #ced4da; /* Agregar borde */
    border-radius: 8px; /* Agregar bordes redondeados */
    padding: 10px; /* Añadir un espacio interno alrededor del contenido */
}


.weather-info h3 {
    margin-bottom: 5px; /* Espaciado inferior */
    font-size: 10px; /* Tamaño de fuente */
}

.weather-info p {
    margin-top: 5px; /* Espaciado superior */
    font-size: 14px; /* Tamaño de fuente */
    color: #6c757d; /* Color de texto */
}
@media (max-width: 768px) {
    .carousel-item img {
        width: 100%; /* Ajustar el ancho al 100% de la pantalla */
        max-height: 50vh; /* Establecer una altura máxima relativa al tamaño de la pantalla */
    }
}
